.lightwell.answer.col-sm-3{id: dom_id(answer)}
  %p= answer.body
  %p= formatted_date(answer.created_at)
  .col-sm-3
    .col-sm-2= button_to 'delete', question_answer_path(@question, answer), method: :delete, class: "btn btn-default", data: {confirm: "Are you sure you want to delete this answer?"}
